.App {
  text-align: center;
}
body {
  font-family:"Montserrat" ;
}


.form {
  /* margin-top: 5%;
   */
  width: 1000px;
  margin: auto;
  padding: 80px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.home {
  height:100%;
  width: 1000px;
}



.tablepage {
  
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 10%;

}

.bsk-container {
  
  
}

.x-icon {
  height: 2em;
  width: 2em;
  top: .125em;
  position: relative;
}
/* .x-icon {
  margin-top: 
} */
.msft {

  margin: 20% auto;
  /* background-color: red; */
  width: 500px;
  text-align: center;
}

.msft h1 {
  /* background-color: green; */
  margin-bottom: 40px;
  font-weight: 800;
}

.msft img:hover {
opacity: 50%;
/* transition: 1s ease; */
}


.signout-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
